html,body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
ul,ul li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
p {
  margin: 0;
}
.left-video {
  position: absolute;
  left: 0;
  right: 0;
  top:0;
  bottom: 300px;
}
.left-video video {
  width: 100%;
  height: 100%;
}
.right-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 300px;
  background: url('../src/images/bg_bottom.png') no-repeat;
  background-size: 100% 100%;
  color: #ffffff;
}
.right-content .menu-icons {
  float: left;
  width: 65%;
  /* padding-top: 0px; */
}
.right-content .menu-icons li {
  margin-left: 15%;
  margin-top: 40px;
}
.right-content .menu-icons li > * {

}
.right-content .menu-icons li > img {
  width: 25px;
  height: auto;
  margin-right: 10px;
}
.right-content .menu-icons li > p {
  display: inline-block;
  position: relative;
  top: -3px;
  font-size: 38px;
}
.right-content .qrcode-contain {
  float: left;
  width: 35%;
  text-align: center;
  padding-top: 25px;
}
.right-content .qrcode-contain img {
  width: 200px;
  height: 200px;
  margin: 10px auto;
}
.modal {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.modal .inner-modal {
  width: 80%;
  height: 400px;
  background-color: #ffffff;
  margin: 200px auto;
  text-align: center;
  border-radius: 5px;
}
.modal .inner-modal .imei-input {
  width: 80%;
  height: 40px;
  border:1px solid #cccccc;
  margin: 100px auto;
  padding-left: 10px;
}
.modal .inner-modal .cancel-btn,.modal .inner-modal .confirm-btn {
  display: inline-block;
  width: 150px;
  height: 40px;
  line-height: 40px;
  background-color: #f7f7f7;
}
.modal .inner-modal .confirm-btn {
  background-color: #4c76df;
  color: #ffffff;
}
.clear-storage {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: #f7f7f7;
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
}







/*  */
